*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
    background-color: azure;
}

header,footer{
    background-color: #333;
    color: #f8eded;
    text-align: center;
    padding: 20px;
    border-radius: 75px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    align-items: center;
    
}
.grid-item{
    border: solid 5px #333;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    transition: transform 0.3s;
    overflow: hidden;
}

.grid-item:hover{
    transform: scale(1.20);
    transition: transform 0.7s;
}

.grid-item img{
    width: 100%;
    margin:auto;
    display: block;
    
    

}

.large{
    grid-column: span 2;
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
    

